body{
    margin: 0;
    height: 100%;
    font-size: 16px;
    background-color: FFFCE9;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;

    
}

.main{
    flex: 1 1 auto;
}

header{
    max-height: 200px;
}

.title, .img-home {
    position: relative;
}



.img-home{
    background: url(../img/gerb1.png) no-repeat;
    background-size: 200px 170px;
    height: 200px;
    top: -190px;
    left: 10px;
}


a.link{
    display: block;
    height: 100%;
}



.title{
	background: url(../img/578.png) no-repeat;
	-moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    border-bottom: groove;
	border-color: black;
    min-height: 200px;
	border-width: 0.5px;
    padding-top: 20px;
    
    text-align: center;
}


.title p {
	font: 49px/1.3 "raleway-bold";
	letter-spacing: -1px;
	color: Black;
	text-shadow: 0 1px 20px rgba(0, 0, 0, 0.6);

}
.title p {
	background-color: rgba(255,245,215,.5);
	
}

.menu{
    border-right: groove;
	border-color: #D3D3D3;
    min-height: 850px;
    width: 14%;
    margin: 5px;
    padding: 10px;
    float: left;
    align-items: center;
    flex-grow: 1;
}



ul {
    list-style-type: none;
    margin-top: 30px;
    padding: 0;
    align-items: center;
    text-align: center;
}


li a{
    display: block;
    height: 50px;
    text-decoration: none;
    color: black; /* ===============изменено в версии 3================== */
}

.active{
    background-color: #00BFFF;
}

li:hover{
    background-color: #00BFFF;
}

/* ===============изменено в версии 3================== */
.change{
    margin-top: 5px;
    width: 100px;
    height: 40px;
    text-align: center;
    background-color: FFFCE9;
}
/* ================================================== */


.content{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
   
    min-height: 730px;
    width: 85%;
    float: right;
}

.link, .lang-pomoc{   /* ======изменено в версии 3========== */
    display: inline-block;
}

.content h2{
	border-bottom: groove;
	border-color: #F5F5F5;
	width: 25%;
	border-width: 0.5px;
}



h3,h4{ /* =====изменено в версии 3======== */
    font-size: large;
}


footer{
    margin-top: auto;
    background-color: black;
    
    height: 90px;
}

.autor{
    margin-right: 10px;
    float: right;
    color: white;
}